* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100%;   
}

.header {
    display: flex;
    flex-direction: column;  
    align-items: center;  

    padding: 30px 50px 70px;
    background-color: #1f2937;
    color: white;
}

body {
   margin: 0;
   font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;   
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(218, 33, 33);
}

.desc {
    font-weight: 100;
    font-size: 14px;
}

.sign {
    max-width: 400px;
    
}

button {
   
    font-weight: bold;
    
    padding: 10px 20px;
    border-radius: 10px;
}
    

.header2 {
    gap: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headercontent {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    flex: 1;
    gap: 30px;
    padding: 0;
}






.albumcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
    max-width: 770px;
    gap: 125px;
    padding: 100px 0;
}

.thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






.quote-section {
    background-color: lightblue;
    padding: 100px 
}

.quote-container {
    
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: italic;
    max-width: 780px;
    margin: auto;
    padding: 50px 0 0 26px;

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.quote-container :nth-child(2) {
    margin-left: auto;
    font-size: 24px;
    padding: 20px;
    color: ant
}





.cta-sec {
    margin: auto;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta {
    display: flex;
    align-items: center;

    margin: 50px;
    padding: 40px 100px;
    gap: 100px;    
    background-color: #1f2937;
    border-radius: 10px;
    max-width: 570px;    
}

.cta-text {
    display: flex;
    flex-direction: column;
    margin: 0 35p 0 50pxx;
    gap: 10px; 
}

h2 {
    margin: 0;
}

p2 {
    font-size: 15px;
    font-weight: 100;
}

.sign-up {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100px;
    flex-grow: 1;

    border: 2px solid white;
    background-color: #1f2937;
    color: white;
}






.picture-section {
    background-color: antiquewhite;
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 100;
   
}

.pic {
    width: 40%;
    border: 20px solid white;
}





.footer {
    background-color: #1f2937;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
